*                      { font-family: 'Source Sans Pro', sans-serif; font-weight: 200; }
html, body             { height: 100%; background-color: #000; }
body                   { text-align: center; }
img                    { width: 9rem; border-radius: 0.25rem; }
h1                     { color: #fff; font-size: 3em; }
p                      { color: #aaa; margin: 35px 0; font-size: 1.25em; }
ul                     { list-style-type: none; padding: 0; display: inline-flex; }
li                     { margin: 0 5px; display: inline-flex; }
a, a:active, a:visited { color: #aaa; font-size: 1.5em; }
a:hover                { color: #fff; }
.main                  { height: 100%; width: 100%; display: table; }
.wrapper               { display: table-cell; height: 100%; vertical-align: middle; }
