* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

html, body {
    height: 100%;
    background-color: #000;
}

body {
    text-align: center;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

img {
    width: 9rem;
    border: 1px solid #000;
    border-radius: 0.25rem;
}

h1 {
    color: #fff;
    font-size: 3em;
}

p {
    color: rgba(255, 255, 255, 0.561);
    margin: 35px 0;
    font-size: 1.25em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 5px;
    display: inline;
}

a, a:active, a:visited {
    color: rgba(255, 255, 255, 0.561);
    font-size: 1.5em;
}

a:hover {
    color: #fff;
}
